<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | 🤠</title>
    <link rel="stylesheet" href="~/css/bulma.min.css" />
</head>
<body class="has-navbar-fixed-top has-background-grey-dark has-text-light">
    <header>
        <nav class="navbar is-fixed-top is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-controller="Home" asp-action="Index">Cowboy</a>
                    <a role="button" id="navbar-burger" class="navbar-burger"
                       data-target="navbar-menu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" asp-controller="Account" asp-action="SignOut">Sign out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; @DateTime.Now.Year - Cowboy
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const burgers = document.querySelectorAll('.navbar-burger');
            for (let burger of burgers) {
                burger.addEventListener('click', () => {
                    const target = document.getElementById(burger.dataset.target);
                    burger.classList.toggle('is-active');
                    target.classList.toggle('is-active');
                });
            }
        });
    </script>
</body>
</html>
